# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# ===============================
# Environment Variables (IMPORTANT)
# ===============================
.env
.env.*
!.env.example



# ===============================
# Database
# ===============================
*.sqlite3
*.db

# ===============================
# Docker
# ===============================
*.pid
docker-compose.override.yml

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Coverage / Testing
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# Build
# ===============================
build/
dist/
*.egg-info/